body {
    font-family: sans-serif;
    background-image: url(earth.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: luminosity;
}

#problem {
    font-size: 80px;
}

#answer {
    font-size: 120px;
    width: 200px;
}

#main {
    display: flex;
    flex-direction: column;
}

.clock {
    font-family: monospace;
}

.counter {
    font-size: 40px;
}

.row {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.text {
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 10px;
    border: 4px solid black;
}
