body {
    font-family: sans-serif;
}

#problem {
    font-size: 80px;
}

#answer {
    font-size: 120px;
    width: 200px;
}

#main {
    display: flex;
    flex-direction: column;
}

.counter {
    font-size: 40px;
}

.row {
    display: flex;
    justify-content: center;
    margin: 20px;
}
